body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
}

#map_screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
}

#map{
    height: 50vh;
    width: 100%;
}

.current-location-pin {
    background-color: red;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: block;
    border: 2px solid white;
}
